body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin-bottom: 40px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}
